.layout-content-wrapper {
    padding: 2rem;
    height:100%;  // Trang thêm layout

    display: flex; // Trang thêm layout
    flex-direction: column; // Trang thêm layout
    overflow-y: auto;
}


// Trang thêm 1 class này 
.layout-content {
    width: 100%;
    height:100%;  // Trang thêm layout
    display: flex; // Trang thêm layout
    flex-direction: column; // Trang thêm layout
}