.ShowMore:hover{
    background:#64758B ;
    color: white;
}

.ShowMore{
    transition: 0.3s ease-in-out;
}
.p-datatable .p-datatable-thead > tr > th{
    background:#e5e5e5;
    color:black
}
.p-tabview .p-tabview-panels{
    padding: 1.25rem 0px;
    background: none;
}

