.ShowMore:hover{
    background:#64758B ;
    color: white;
}

.ShowMore{
    transition: 0.3s ease-in-out;
}
.p-datatable .p-datatable-thead > tr > th{
    background:#e5e5e5;
    color:black
}
.p-tabview .p-tabview-panels{
    padding: 1.25rem 0px;
    background: none;
}

.Container_Scorecard1{
    background:#64758B ;
    color: white;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.75rem;
}
.Container_Scorecard2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Container_Name{
    font-size: 30px;
    font-weight: 700;
    margin-right: 5px;
 
}
.Container_Time_Show{
    display: flex;
    align-items: center;
}
.Container_Time{
    font-weight: 500;
    display: flex;
    margin-right: 0.75rem;

}
.Container_Show{
    display: flex;
    align-items: center;
}
.DotGreen{
    display: flex;
    align-items: center;
    animation: blink 1s infinite;
  
}

.DotRed{
    display: flex;
    align-items: center;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}