/* components/CustomerReport.module.css */
.grid {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.label {
    margin-bottom: 24px; /* Đảm bảo khoảng cách đều */
    padding: 3px;
}
