/* components/CustomerReport.module.css */
.grid {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.label {
    margin-bottom: 24px; /* Đảm bảo khoảng cách đều */
    //text-align: center;
}
