.nativeContainer{
    font-size: 23px;
    position: fixed;
    font-weight: 500;
    fill: rgb(10, 121, 10);
}

.nativeContainerTime{
    font-size: 23px;
    position: fixed;
    font-weight: 500;
}

.nativeContainerName{
        font-size: 23px;
        position: fixed;
        font-weight: 500;
}
.nativeContainerText{
    font-size: 21px;
    position: fixed;
    font-weight: 500;
    fill: blueviolet;
}