/* styles.css */
#component {
    transition: all 0.3s ease-in-out;
  }
  
  #component.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
  }

  .GraphicSogec:hover{
   background: gray;
   color: white;
   border-radius: 5px;
  }

  .GraphicSogec{
    transition: ease-in-out 0.2s;
  }