.react-flow__node-default{
}
.react-flow__handle{
    opacity: 0.01;
}
.react-flow__attribution{
    display: none;
}
.HelpHover:hover{
    color: red;
}

.react-flow__controls-interactive{
    display: none;
}

#component {
    transition: all 0.3s ease-in-out;
  }
  
  #component.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
  }