.react-flow__controls-button .react-flow__controls-interactive{

    display: none;
}

.react-flow__node-default{
}
.react-flow__handle{
    opacity: 0.01;
}
.react-flow__attribution{
    display: none;
}
.HelpHover:hover{
    color: red;
}

.react-flow__controls-interactive{
    display: none;
}

