.floatLabel {
    position: relative;
    display: inline-block;
    width: 100%;
}

.floatLabel label {
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 0 4px;
    font-size: 14px;
    transition: all 0.2s;
    color: rgba(0, 0, 0, 0.65);
    pointer-events: none;
    width: calc(100% - 22px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.floatLabel :global(.ant-picker) {
    width: 100%;
    position: relative;
}

.floatLabel :global(.ant-picker.ant-picker-focused) + label,
.floatLabel :global(.ant-picker.ant-picker-has-value) + label {
    top: -20px;
    transform: translateY(0);
    font-size: 12px;
    width: auto;
}

.floatLabel :global(.ant-picker.ant-picker-focused),
.floatLabel :global(.ant-picker.ant-picker-has-value) {
    border-color: #1890ff;
}

.floatLabel :global(.ant-picker-input) > input {
    opacity: 0;
    transition: opacity 0.2s;
}

.floatLabel :global(.ant-picker-focused) :global(.ant-picker-input) > input,
.floatLabel :global(.ant-picker-has-value) :global(.ant-picker-input) > input {
    opacity: 1;
}

/* Đoạn này giữ label ở giữa khi không có giá trị hoặc không focus */
.floatLabel
    :global(.ant-picker:not(.ant-picker-has-value):not(.ant-picker-focused))
    + label {
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}
