.dateRangeWrapper {
    position: relative;
}

.floatLabel {
    position: relative;
    display: inline-block;
    width: 100%;
}

.floatLabel label {
    position: absolute;
    left: 11px; /* Căn chỉnh với padding của Ant Design input */
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 0 4px;
    font-size: 14px;
    transition: all 0.2s;
    color: rgba(0, 0, 0, 0.65);
    pointer-events: none;
    width: calc(100% - 22px); /* Đảm bảo label không vượt quá biên của input */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.floatLabel :global(.ant-picker) {
    width: 100%;
}

.floatLabel :global(.ant-picker.ant-picker-focused) + label,
.floatLabel :global(.ant-picker.ant-picker-has-value) + label {
    top: -20px;
    transform: translateY(0);
    font-size: 12px; /* Giữ nguyên font size */
    width: auto; /* Cho phép label hiển thị đầy đủ khi di chuyển lên */
}

.floatLabel :global(.ant-picker.ant-picker-focused),
.floatLabel :global(.ant-picker.ant-picker-has-value) {
    border-color: #1890ff;
}

.floatLabel :global(.ant-picker-input) > input {
    opacity: 0; /* Ẩn văn bản đầu vào khi không focus */
    transition: opacity 0.2s;
}

.floatLabel :global(.ant-picker-focused) :global(.ant-picker-input) > input,
.floatLabel :global(.ant-picker-has-value) :global(.ant-picker-input) > input {
    opacity: 1; /* Hiển thị văn bản đầu vào khi focus hoặc có giá trị */
}
