@media (max-width : 1023px) {
    .responsive{
        display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
}

@media (min-width : 1024px) {
    .responsive{
        display: grid;
        grid-template-columns: auto auto;
         gap: 0.5rem;
    }
}


