@media (max-width : 1023px) {
    .responsive{
        display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
}

@media (min-width : 1024px) {
    .responsive{
        display: grid;
        grid-template-columns: auto auto;
         gap: 0.5rem;
    }
}
.p-tabview .p-tabview-panels{
    padding: 0.5rem 0px;
}

/* .p-tabview-nav-content{
    width:100%;
    max-width: 330px;
    border-radius: 5px;
} */